doctype html
html(lang='en')
head
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/stylesheets/style.css')
title Update cases
body
div.cases
    h1.title Update number of Corona cases
    div.alert.hidden
        p Numbers updated
    label(for='country') Country
    select.input(name='country')
        option(value='Belgium' selected='selected') Belgium
        option(value='Spain') Spain
        option(value='USA') USA
        option(value='China') China
    label(for='number') Number of cases
    input.input(type='number' name='number')
    button.btn.btn--primary Update

script(src='http://localhost:3000/primus/primus.js')
script(src='/javascripts/update.js')